# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/
chromedriver-linux64/
chromedriver-linux64.zip
# Distribution / packaging
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
*.deb

google-chrome-stable_current_amd64.deb
google-chrome-stable_current_amd64.deb.1
debug_scottsdale.html